<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-12"><marquee width="100%" height="50px" direction="left"  style="color:#9b1111;"  class="blink" bgcolor="pink"> Welcome To Admin Portal </marquee>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img class="img-fluid" th:src="@{/images/aboutus.jpg}"  style="padding-left:15%;border-radius: 25px;"  alt="admin" >
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-sm-12">

                <p style="padding:5px;"> Federal Bank is the preferred Personal, NRI and Business banking partner for a growing expanse of customers across India, in both urban and rural areas. The Bank is driven by the quest to be one of the most admired banking institutions in the country. This is just one manifestation of the Bank’s powerful ‘Digital at the Fore, Human at the Core’ proposition. Redefining human experience, the digital way has been our constant goal for a while now. Our digital innovations of today are on the cusp of redefining the banking paradigm of tomorrow. Federal Bank is continuously scaling up this mantra to reach out, meaningfully and impactfully, to more and more customers. Recognised as a Great Place to Work , the Bank is continuously striving to become the FIRST CHOICE for all Indians. Propelling this journey is our unwavering focus on the service of People, within and outside the organisation. </h1>
                </p>

        </div>
    </div>
    <h1 style="text-align:center;background-color:#a3c1e4"> Our Team</h1>

    <div class="row people d-flex justify-content-center">
        <div class="col-md-4 col-lg-3 item">
            <div class="box" style="background-image:url(https://i.imgur.com/HjKTNkG.jpg)">
                <div class="cover">
                    <h3 class="name">Arun</h3>
                    <p class="title">CTO</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 item">
            <div class="box" style="background-image:url(https://i.imgur.com/WgXRMDs.jpg)">
                <div class="cover">
                    <h3 class="name">Suresh</h3>
                    <p class="title">COO</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 item">
            <div class="box" style="background-image:url(https://i.imgur.com/0Cdlenp.jpg)">
                <div class="cover">
                    <h3 class="name">Vinay</h3>
                    <p class="title">Team Lead</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>

    </div>

<hr style="color:white">
            <div class="row">
                <div class="col-sm-3">
                    <table   style="  color: white;width:100%">
                        <tr style="  padding: 8px;text-align: left; ">
                            <th style="  padding-top: 12px;  padding-bottom: 12px; padding-left: 8px;  "><h5>Company</h5></th>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Home</h6></td>

                            
                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>About</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Contact</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Milestones</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Awards and Accolades</h6></td>

                        </tr>
                    </table>
                </div>
                <div class="col-sm-3">
                    <table  style="  color: white;width:100%">
                        <tr style="  padding: 8px;text-align: left; ">
                            <th style="  padding-top: 12px;  padding-bottom: 12px; padding-left: 8px;  "><h5>Investor Relations</h5></th>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Financial Results</h6></td>


                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Annual Reports</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Regulatory Disclosures Section</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Shareholder Information</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Dividend History</h6></td>

                        </tr>
                    </table>
                </div>
                <div class="col-sm-3">
                    <table   style="  color: white;width:100%">
                        <tr style="  padding: 8px;text-align: left; ">
                            <th style="  padding-top: 12px;  padding-bottom: 12px; padding-left: 8px;  "><h5>Customer Relations</h5></th>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Direct Tax collection</h6></td>


                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Contact Center</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Update KYC Details Online</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Recovery Agents</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Customer Learning</h6></td>

                        </tr>
                    </table>
                </div>
                <div class="col-sm-3">
                    <table   style="  color: white;width:100%;">
                        <tr style="  padding: 8px;text-align: left; ">
                            <th style="  padding-top: 12px;  padding-bottom: 12px; padding-left: 8px;  "><h5>Useful Links</h5></th>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Locate Us</h6></td>


                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Careers</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Quick EMI</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Privacy Policy</h6></td>

                        </tr>
                        <tr style="  padding: 8px;text-align: left; ">
                            <td style="  padding-left: 20px;"><h6>Terms of Services & Disclaimer</h6></td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<link th:href="@{/images/css/abouthover.css}" rel="stylesheet">