
<div class="container-fluid " >
    <div class="row">
        <div class="col-sm-12"><marquee width="100%" height="50px" direction="left"  style="color:#9b1111;"  class="blink" bgcolor="pink"> Welcome To Admin Portal </marquee>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6  ">
            <img class="img-fluid" th:src="@{/images/bankhome.jpg}" style="margin-top:-10px; height:100%;" width="100%" alt="admin" >
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card border-warning  mb-3"  >
                        <div class="row g-0">
                            <div class="col-md-5" >
                                <img th:src="@{/images/provider.jpg}" class="img-fluid rounded-start" style="height:100%;margin-left:0px" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body text-warning">
                                    <h4 class="card-title">Providers</h4>
                                    <h1 class="card-text" th:text= "${providerscount}">  </h1>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="card  border-danger  mb-3" >
                        <div class="row g-0">
                            <div class="col-md-5" >
                                <img th:src="@{/images/Merchantcard.jpg}" class="img-fluid rounded-start" style="height:100%;margin-left:0px" alt="...">
                            </div>

                            <div class="col-md-6">
                                <div class="card-body text-danger ">
                                    <h4 class="card-title">Merchants</h4>
                                    <h1 class="card-text"  th:text= "${merchantscount}" >   </h1>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div id="slider" class="carousel slide carousel-fade" data-bs-ride="carousel" >

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#slider" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#slider" data-bs-slide-to="2"></button>
                        </div>

                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img  th:src="@{/images/slide1.jpg}"   class="d-block" style="width:100%">
                            </div>
                            <div class="carousel-item">
                                <img  th:src="@{/images/slide2.jpg}"  class="d-block" style="width:100%">
                            </div>
                            <div class="carousel-item">
                                <img s th:src="@{/images/slide3.jpg}"   style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div  class="col-sm-6" id="linechart" style="width: 550px; height: 400px; margin: 0 auto"></div>
        <div  class="col-sm-6" id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function() {
            var title = {
                text: 'Average Temperatures of Cities'
            };
            var subtitle = {
                text: 'Source: worldClimate.com'
            };
            var xAxis = {
                categories: [[${providerList}]]
            };
            var yAxis = {
                title: {
                    text: 'Temperature (\xB0C)'

                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            };
            var tooltip = {
                valueSuffix: '\xB0C'
            }
            var legend = {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            };
            var series = [{
                    name: 'Tokyo',
                    data: [[${providerList}]]
                },
                {
                    name: 'New York',
                    data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8,
                        24.1, 20.1, 14.1, 8.6, 2.5
                    ]
                },
                {
                    name: 'London',
                    data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0,
                        16.6, 14.2, 10.3, 6.6, 4.8
                    ]
                }
            ];

            var json = {};
            json.title = title;
            json.subtitle = subtitle;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.tooltip = tooltip;
            json.legend = legend;
            json.series = series;

            $('#linechart').highcharts(json);
              $('#container').highcharts(json);
        });
    </script>
</div>





